

        h2 {
            
            font-family: arial;
             color: rgb(238,111,104);
        }
        
        h1 {
            
            font-family: arial;
            color: rgb(238,111,104);
        }

        body {
            
            background-color: rgb(255,204,113);
        }

        #top_menu {

            margin: auto;
            border: 1px solid rgb(20,20,20);
            border-bottom: 3px solid rgb(20, 20, 20);
            padding:  15px;
            position: fixed;
            top: 0px;
            width: 100%;
            background-color: rgb(21,215,223);
            width: 100%;
            z-index: 100;
        }

        #main_title {
            
            position: relative;
            margin: 10px;
            text-align-last: center;  
            }  
        
        
